.banner{
	background-image: url('../../images/background.jpg');
	color:white; 
	padding: 150px 0px;
  background-size: cover;
	background-position:center;
}

.banner h1 {
  color: white;
  font-weight: bold;
  font-size: 35px;
}

.banner h2 {
  color: white;
  font-size: 27px;
  font-weight: bold;
	opacity: 0.8;
}
